.order-element:hover{
    cursor: pointer;
}

.price-text, .price{
    color: #5cb85c;
    font-size: x-large;
}

.price{
    display: inline-block;
    background: cornsilk;
    padding: 7px 15px;
    border-radius: 10px;
}

.price-right{
    float: right;
}

.description{
    display: block;
    max-height: 100px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.description-full{
display: block;
}

.article-img{
    margin-right: 15px;
}

.info{
    display: inline;
    margin: 15px;
}

.doBuy{
    background: cornsilk;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}