.order-element:hover{
    cursor: pointer;
}

.price-text, .price{
    color: #5cb85c;
    font-size: x-large;
}

.price{
    display: inline-block;
    background: cornsilk;
    padding: 7px 15px;
    border-radius: 10px;
}

.price-right{
    float: right;
}

.description{
    display: block;
    max-height: 100px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.description-full{
display: block;
}

.article-img{
    margin-right: 15px;
}

.info{
    display: inline;
    margin: 15px;
}

.doBuy{
    background: cornsilk;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#bill{
    width: 100%;
}

table#bill tbody tr td{
    padding: 8px;
}

table#bill thead tr td, table#bill tfoot tr td{
    padding-left: 8px;
}

table#bill tfoot tr td{

}

li{
    list-style-type: none;
}

li span i {
    cursor: pointer;
}

.tree-item{
    margin-left: 10px;
    font-size: 16px;
}

.tree > ul{
    padding-left: 0
}

.price-filter{
    margin-bottom: 10px;
}

.category-checker{
    margin-right: 5px;
}