.order-element{
    cursor: pointer;
    margin-left: 15px;
}

.price-text, .price{
    color: #5cb85c;

}

.price{
    display: inline-block;
    background: cornsilk;
    padding: 7px 15px;
    border-radius: 10px;
}

.price-right{
    position: absolute;
    right: 15px;
}

.description{
    display: block;
    max-height: 100px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.description-full{
display: block;
}

.article-img{
    margin-right: 15px;
}

.info{
    display: inline;
    margin: 15px;
}

.doBuy{
    background: cornsilk;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#bill{
    width: 100%;
}

table#bill tbody tr td{
    padding: 8px;
}

table#bill thead tr td, table#bill tfoot tr td{
    padding-left: 8px;
}

table#bill tfoot tr td{

}

li{
    list-style-type: none;
}

li span i {
    cursor: pointer;
}

.tree-item{
    margin-left: 10px;
    font-size: 16px;
}

.tree > ul{
    padding-left: 0
}

.price-filter{
    margin-bottom: 10px;
}

.category-checker{
    margin-right: 5px;
}

.alert-message{
    position: static;
    bottom:0%;
    width: 100%;

}

.btn-file { position: relative; overflow: hidden; margin-right: 4px; }
.btn-file input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4); font-size: 23px; direction: ltr; cursor: pointer; }
.clearfix{
    text-align: center;
    margin-top: 20px;
}

.article-control{
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    width: 89%;
    margin-left: 10px;
}

.block{
    width: 25%;
    display: inline-block;
    min-width: 200px;
}
.block-center{
    width: 50%;
    display: inline-block;
}
